@charset "uft-8";
/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
html{
    font-size: 100%;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 960px;
}
#header{
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}