@charset "uft-8";
/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
html{
    font-size: 100%;
}

body{
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
.wrapper{
    width: 960px;
    margin: 0  auto 130px auto;
    padding: 0 4%;
    font-size: 0.9rem;
}
.section_title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 65px;
}
#header{
    max-width: 960px;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    padding:0 4%;    
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    margin-right: 30px;
    font-size: 0.9rem;
}
nav li:last-child{
    margin-right: 0;
}
.icon{
    font-size: 1.25rem;
}
#mainvisual{
    margin-bottom: 80px;
}
#mainvisual img{
    max-width: 1920px;
    width: 100%;
    height: 420px;
    object-fit: cover;
}
#about ul{
    margin-bottom: 30px;
}
#about li:first-child{
    margin-bottom: 30px;
}
#about p{
    text-align: justify;
}
#works ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:50px ;
}
#works li{
    width: 31%;
    margin-bottom: 23px;
}